.jumbotron,
.card-title,
.card-link, h2, URLHeaders {
  font-family: 'Muli', sans-serif;
  font-weight: 900;
}

a {
  letter-spacing: 0.05px
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

.card-link:hover {
  /* font-size: 18px; */
  text-shadow: .3px .3px .8px #000000;
}
/* a.custom-card,
a.custom-card:hover {
  color: inherit;
} */

.card-text, p, #URL_List p span,
#URL_List p.ipLine {
  font-family: 'Ovo', serif;
  font-size: 17px;
  margin:0px;
}

.jumbotron {
  background-color:#d2f6f6 !important;
  height: 265px;
}

body {
  background-color: #fffdee;
  padding-bottom: 150px;
}


.card-1 {
  background-color: #ace3ea;

 /* background: linear-gradient(180deg,#ace3ea,#f0f8ff); */
}

.card-2 {
  background-color: #fd908e;
}

.card-3 {
  background-color: #fbe56e;
}

.card-4 {
  background-color: #b4dfab;
}

.card-5 {
  background-color: #F8F8F8
}

.card-6 {
  background-color: #F8F8F8
}


#info {
  margin-top: -10px;
  margin-bottom: 10px;
}

#URL_List p span {
  font-style: normal !important;
  text-decoration: none;
}

.URLHeaders {
  font-style: italic;
  text-align: center;
  margin-top: -15px;
}

.ipLine {
  margin-top: 10;
  margin-bottom: 10;
}

#piechart {
  margin-top: -70px;
  margin-left: 100px;
}

/*
lightblue = #d2f6f6
dark grayish nav = #665f59
darker grayish nav = 5f5852
light backgroung baige = #fffdee
light green = #b4daab
light red=#fd8380
darker light blue = #84d0cc
light yellow= #ffe66f
*/
