.jumbotron,
.IPManagerContainer h3 h5,
.card-title,
.card-link, h2, URLHeaders {
  font-family: 'Muli', sans-serif;
  font-weight: 900;
}

a {
  letter-spacing: 0.05px
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

.card-link:hover {
  text-shadow: .3px .3px .8px #000000;
}

.card-text, p, #URL_List p span,
#URL_List p.ipLine {
  font-family: 'Ovo', serif;
  font-size: 17px;
  margin:0px;
}

.jumbotron {
  background-color:#d2f6f6 !important;
  height: 265px;
}

body {
  background-color: #fffdee;
  padding-bottom: 150px;
}

.card-1 {
  background-color: #ace3ea;
}

.card-2 {
  background-color: #fd908e;
}

.card-3 {
  background-color: #fbe56e;
}

.card-4 {
  background-color: #b4dfab;
}

.card-Assignments {
  background-color: #F8F8F8
}

.divisor {
  margin-bottom: -10px;
  width:100%;
}

.IPManagerContainer h3 {
  text-align: center;
  margin-top: 50px;
  font-size: 35px;
}

.IPManagerContainer {
  margin:0 auto;
  width:600px;
}

.IPManagerContainer h5 {
  display: inline-block;
  width: 275px;
}

fieldset {
  display: inline-block;
}

input[type="radio"] {
  margin: 0 10px 0 20px;
}

.box {
  margin: 20px;
}

form {
  display: inline-block;
}

#classSelection {
  margin-left: 300px;
  margin-top: 5px;
}

#subnetMaskNote {
  margin-left: 250px;
  font-size: 12px;
}

.classDiv{
  margin-left: 250px;
}

.generatedIPAddressesContainer {
}

table {
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    border-collapse: collapse;
    width: 500px;
    margin: auto;
}

form {
  width: 600px;
}

table td {
    font-family:courier, courier new, serif;
    font-weight: 700;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    width: 200px;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

 input[type="radio"]:checked:before {
        background: #008ECC;

}

.wrapper {
    text-align: right;
}

/* button {
    /* background-color: #7BCC70; /* Green */ /*
    border: none;
    font-weight: bold;
    color: black;
    padding: 9px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    font-size: 18px;
} */
